@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Josefin+Sans:wght@500&display=swap');


$backgroundColor: rgba(231, 231, 231, 1);
$CardsBgColor: rgba(255, 255, 255, 1);

.websiteBody {
  margin: 0;
  overflow-x: hidden;
}
.Page {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
.Page-outer {
  z-index: 1;
}
.Frame {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-left: 0;
  height: 3632px;
  min-width: 200px;
  max-width: 1920px;
  margin: auto;
  background-color: #ffffff;
}
.Frame-outer {
  z-index: 2;
}
.waves-1 {
  position: relative;
  z-index: 4;
  margin-left: 0px;
  width: 1920px;
  min-width: 1920px;
  height: 821px;
  margin-top: 0px;
  margin-bottom: 2811px;
  min-height: 821px;
}
.wave-1-outer {
  z-index: 4;
  position: relative;
  display: flex;
}
.Rectangle-1 {
  position: relative;
  z-index: 3;
  margin-left: 0px;
  width: 1920px;
  min-width: 1920px;
  height: 3632px;
  margin-top: -3632px;
  margin-bottom: 0px;
  min-height: 3632px;
  background-color: $backgroundColor;
}
.Rectangle-1-outer {
  z-index: 3;
  position: relative;
  display: flex;
}
.ChessIt {
  position: relative;
  z-index: 7;
  margin-left: 129px;
  width: 363px;
  min-width: 363px;
  margin-top: -3554px;
  margin-bottom: 3403px;
  min-height: 151px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: $backgroundColor;
  font-style: normal;
  font-family: Josefin Sans;
  font-weight: 700;
  font-size: 100px;
  line-height: 153px;
}
.ChessIt-outer {
  z-index: 7;
  position: relative;
  display: flex;
}

.main {
  position: relative;
  z-index: 16;
  margin-left: 1029px;
  width: 739px;
  min-width: 739px;
  height: 576px;
  margin-top: -3501px;
  margin-bottom: 2925px;
  min-height: 576px;
}
.main-outer {
  z-index: 16;
  position: relative;
  display: flex;
}
.iMac-Pro-Front-View- {
  position: relative;
  z-index: 14;
  margin-left: 1110px;
  width: 573px;
  min-width: 573px;
  height: 476px;
  margin-top: -3386px;
  margin-bottom: 2910px;
  min-height: 476px;
}
.iMac-Pro-Front-View--outer {
  z-index: 14;
  position: relative;
  display: flex;
}
.BENEFITS {
  position: relative;
  z-index: 33;
  margin-left: 806px;
  width: 308px;
  min-width: 308px;
  margin-top: -2663px;
  margin-bottom: 2613px;
  min-height: 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(28, 28, 28, 1);
  font-style: normal;
  font-family: Comfortaa;
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 9.6px;
  line-height: 24px;
}
.BENEFITS-outer {
  z-index: 33;
  position: relative;
  display: flex;
}
.Group-1 {
  position: relative;
  z-index: 17;

  margin-left: 365px;
  width: 1189px;
  min-width: 1189px;
  height: 716px;
  margin-top: -2465px;
  margin-bottom: 1749px;
  min-height: 716px;
}
.Group-1-outer {
  z-index: 17;
  position: relative;
  display: flex;
}
.Rectangle-7 {
  position: relative;
  z-index: 22;
  margin-left: 873px;
  width: 316px;
  min-width: 316px;
  height: 316px;
  margin-top: 0px;
  margin-bottom: 400px;
  min-height: 316px;
  background-color: $CardsBgColor;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TextInCards {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
  margin-top: 70px;
}
.Rectangle-7-outer {
  z-index: 22;
  position: relative;
  display: flex;
}
.Rectangle-5 {
  position: relative;
  z-index: 20;
  margin-left: 445px;
  width: 316px;
  min-width: 316px;
  height: 316px;
  margin-top: -716px;
  margin-bottom: 400px;
  min-height: 316px;
  background-color: $CardsBgColor;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Rectangle-5-outer {
  z-index: 20;
  position: relative;
  display: flex;
}
.Rectangle-3 {
  position: relative;
  z-index: 18;
  margin-left: 0px;
  width: 316px;
  min-width: 316px;
  height: 316px;
  margin-top: -716px;
  margin-bottom: 400px;
  min-height: 316px;
  background-color: $CardsBgColor;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Rectangle-3-outer {
  z-index: 18;
  position: relative;
  display: flex;
}
.Ellipse-3 {
  position: relative;
  z-index: 26;
  margin-left: 890px;
  width: 73px;
  min-width: 73px;
  height: 73px;
  margin-top: -685px;
  margin-bottom: 612px;
  min-height: 73px;
}
.Ellipse-3-outer {
  z-index: 26;
  position: relative;
  display: flex;
}
.Ellipse-2 {
  position: relative;
  z-index: 25;
  margin-left: 482px;
  width: 73px;
  min-width: 73px;
  height: 73px;
  margin-top: -685px;
  margin-bottom: 612px;
  min-height: 73px;
}
.Ellipse-2-outer {
  z-index: 25;
  position: relative;
  display: flex;
}
.Ellipse-1 {
  position: relative;
  z-index: 24;
  margin-left: 35px;
  width: 73px;
  min-width: 73px;
  height: 73px;
  margin-top: -685px;
  margin-bottom: 612px;
  min-height: 73px;
}
.Ellipse-1-outer {
  z-index: 24;
  position: relative;
  display: flex;
}
.Rectangle-4 {
  position: relative;
  z-index: 23;
  margin-left: 0px;
  width: 316px;
  min-width: 316px;
  height: 316px;
  margin-top: -316px;
  margin-bottom: 0px;
  min-height: 316px;
  background-color: $CardsBgColor;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Rectangle-4-outer {
  z-index: 23;
  position: relative;
  display: flex;
}
.Rectangle-8 {
  position: relative;
  z-index: 21;
  margin-left: 873px;
  width: 316px;
  min-width: 316px;
  height: 316px;
  margin-top: -316px;
  margin-bottom: 0px;
  min-height: 316px;
  background-color: $CardsBgColor;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Rectangle-8-outer {
  z-index: 21;
  position: relative;
  display: flex;
}
.Rectangle-6 {
  position: relative;
  z-index: 19;
  margin-left: 445px;
  width: 316px;
  min-width: 316px;
  height: 316px;
  margin-top: -316px;
  margin-bottom: 0px;
  min-height: 316px;
  background-color: $CardsBgColor;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Rectangle-6-outer {
  z-index: 19;
  position: relative;
  display: flex;
}
.Ellipse-6 {
  position: relative;
  z-index: 29;
  margin-left: 35px;
  width: 73px;
  min-width: 73px;
  height: 73px;
  margin-top: -294px;
  margin-bottom: 221px;
  min-height: 73px;
}
.Ellipse-6-outer {
  z-index: 29;
  position: relative;
  display: flex;
}
.Ellipse-5 {
  position: relative;
  z-index: 28;
  margin-left: 482px;
  width: 73px;
  min-width: 73px;
  height: 73px;
  margin-top: -294px;
  margin-bottom: 221px;
  min-height: 73px;
}
.Ellipse-5-outer {
  z-index: 28;
  position: relative;
  display: flex;
}
.Ellipse-4 {
  position: relative;
  z-index: 27;
  margin-left: 890px;
  width: 73px;
  min-width: 73px;
  height: 73px;
  margin-top: -287px;
  margin-bottom: 214px;
  min-height: 73px;
}
.Ellipse-4-outer {
  z-index: 27;
  position: relative;
  display: flex;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iPhone-12-Pro-Mockup {
  position: relative;
  z-index: 6;
  margin-left: 171px;
  width: 898px;
  min-width: 898px;
  height: 1061px;
  margin-top: -1558px;
  margin-bottom: 497px;
  min-height: 1061px;
}
.iPhone-12-Pro-Mockup-outer {
  z-index: 6;
  position: relative;
  display: flex;
}
.CONTACT-SUPPORT {
  position: relative;
  z-index: 34;
  pointer-events: none;
  margin-left: 993px;
  width: 907px;
  min-width: 907px;
  margin-top: -1333px;
  margin-bottom: 1259px;
  min-height: 74px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(28, 28, 28, 1);
  font-style: normal;
  font-family: Comfortaa;
  font-weight: 300;
  font-size: 55px;
  letter-spacing: 11px;
  line-height: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.CONTACT-SUPPORT-outer {
  pointer-events: none;
  z-index: 34;
  position: relative;
  display: flex;
}
.SecondaryText {
  position: relative;
  z-index: 32;
  margin-left: 1003px;
  width: 495px;
  min-width: 495px;
  height: 232px;
  margin-top: -1214px;
  margin-bottom: 982px;
  min-height: 232px;
  font-family: Comfortaa;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.1em;
}
.SecondaryText-outer {
  z-index: 32;
  position: relative;
  display: flex;
}
.Group-3-outer {
  z-index: 13;
  position: relative;
  display: flex;
}
.Group-3 {
  position: relative;
  z-index: 11;
  margin-left: 993px;
  width: 303px;
  min-width: 303px;
  height: 72px;
  margin-top: -900px;
  margin-bottom: 828px;
  min-height: 72px;
  filter: drop-shadow(5px 7px 20px rgba(0, 0, 0, 0.25));
}
.Rectangle-2-outer {
  z-index: 12;
  position: relative;
  display: flex;
}
.Rectangle-2 {
  position: relative;
  z-index: 12;
  margin-left: 0px;
  width: 293px;
  min-width: 293px;
  height: 72px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 72px;
  background-color: rgba(238, 238, 238, 1);
  border-radius: 40px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 55px;
  color: #4542c1;
  border: none;
}
.Copyright-c-2021-New {
  position: relative;
  z-index: 31;
  margin-left: 717px;
  width: 520px;
  min-width: 520px;
  margin-top: -176px;
  margin-bottom: 106px;
  min-height: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: black;
  font-style: normal;
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 31px;
  letter-spacing: 3.1px;
  line-height: 35px;
}
.Copyright-c-2021-New-outer {
  z-index: 31;
  position: relative;
  display: flex;
}
.download{
  position: relative;
  z-index: 12;
  margin-left: 0px;
  width: 293px;
  min-width: 293px;
  height: 72px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 72px;
  background-color: rgba(238, 238, 238, 1);
  border-radius: 40px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 55px;
  color: #4542c1;
  border: none;
  
}
.download-outer{
    margin-top: 30px;
    margin-right: 180px;
    width: 194px;
    height: 49px;
    left: 129px;
    top: 335px;
    filter: drop-shadow(5px 7px 20px rgba(0, 0, 0, 0.25));
}